In [36]:
import pandas as pd
import numpy as np

In [37]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
##Load the train csv file

raw_data = pd.read_csv("/content/drive/My Drive/FTEC_4003_Project/Task_2/train.csv")
raw_test_data = pd.read_csv("/content/drive/My Drive/FTEC_4003_Project/Task_2/assignment-test.csv")

In [39]:

raw_data

      RowNumber  CustomerId  ... EstimatedSalary  Exited
0             0    15682273  ...       123846.07       0
1             1    15694321  ...        53394.12       0
2             2    15807194  ...        30772.22       0
3             3    15643966  ...        64327.26       0
4             4    15697686  ...        84151.98       0
...         ...         ...  ...             ...     ...
7495       7495    15602124  ...       184581.68       0
7496       7496    15726814  ...        57320.92       0
7497       7497    15635177  ...        70532.53       0
7498       7498    15691625  ...       106761.47       0
7499       7499    15770498  ...        83478.12       0

[7500 rows x 14 columns]

In [40]:
## Drop RowNumber, CustomerId, Surname
train_data = raw_data.drop(columns=['RowNumber', 'CustomerId', 'Surname'])
test_data = raw_test_data.drop(columns=['RowNumber', 'CustomerId', 'Surname'])

In [41]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from scipy.sparse import csr_matrix

In [42]:
train_data['NumOfProducts'].unique()

array([1, 2, 4, 3])

In [43]:
for column in ['Geography', 'Gender']:
  train_data[column] = train_data[column].apply(str)

  #Label Encoder classify the categorical data into integer
  label_encoder = LabelEncoder()
  label = label_encoder.fit_transform(train_data[column])
  label = label.reshape(len(label), 1)

  #OneHotEncoder encode the integer generated from LabelEncoder
  one_hot_encoder = OneHotEncoder(sparse=False)
  encoded_col = one_hot_encoder.fit_transform(label)

  encoded_col = pd.DataFrame(encoded_col, columns = column + "_" + label_encoder.classes_)
  train_data = pd.concat([train_data, encoded_col], axis = 1)
  train_data = train_data.drop(columns = [column])

In [44]:
for column in ['Geography', 'Gender']:
  test_data[column] = test_data[column].apply(str)

  #Label Encoder classify the categorical data into integer
  label_encoder = LabelEncoder()
  label = label_encoder.fit_transform(test_data[column])
  label = label.reshape(len(label), 1)

  #OneHotEncoder encode the integer generated from LabelEncoder
  one_hot_encoder = OneHotEncoder(sparse=False)
  encoded_col = one_hot_encoder.fit_transform(label)

  encoded_col = pd.DataFrame(encoded_col, columns = column + "_" + label_encoder.classes_)
  test_data = pd.concat([test_data, encoded_col], axis = 1)
  test_data = test_data.drop(columns = [column])

In [45]:
test_data

      CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0             477   34       8  ...              0.0            0.0          1.0
1             827   35       0  ...              1.0            1.0          0.0
2             726   53       1  ...              0.0            1.0          0.0
3             600   43       5  ...              0.0            1.0          0.0
4             624   37       0  ...              0.0            0.0          1.0
...           ...  ...     ...  ...              ...            ...          ...
2495          648   31       7  ...              0.0            0.0          1.0
2496          741   37       8  ...              0.0            1.0          0.0
2497          658   43       7  ...              0.0            1.0          0.0
2498          632   42       4  ...              0.0            0.0          1.0
2499          651   63       8  ...              1.0            1.0          0.0

[2500 rows x 13 columns]

In [46]:
scaler = StandardScaler()
standarized_features = ['CreditScore', 'Age','Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']
train_data[standarized_features] = scaler.fit_transform(train_data[standarized_features])
test_data[standarized_features] = scaler.fit_transform(test_data[standarized_features])

In [47]:
train_data, test_data = train_data.align(test_data, join='outer', axis=1)

In [48]:
train_data.to_csv(r'/content/drive/My Drive/FTEC_4003_Project/Task_2/preprocessed_train_data.csv', index=False)

In [49]:
test_data.to_csv(r'/content/drive/My Drive/FTEC_4003_Project/Task_2/preprocessed_test_data.csv', index=False)